@media screen and (max-width:576px) {
    /* nav style start here */
    .menubar-logo{
        display: block;
    }
    .nav-item{
        display: none;
    }
    /* nav style end here */
    /* hero style start here */
    .hero{
        flex-direction: column;
        justify-content: center;
    }
    /* hero style end here */
    /* fetted style start here */
    .fetured-collection{
        flex-direction: column;
        gap:20px;
    }
    /* feared style end here */
    /* latest style start here */
    .latest-cards{
        flex-direction: column;
    }
    .bike-card{
        width: 90%;
        margin: 0 auto;
    }
    /* latest style end here */
    /* client style start here */
    .clients-cards{
        flex-direction: column;
    }
    .client-card{
        width: 80%;
        margin: 0 auto;
    }
    /* client style end here */
    /* footer style start here */
    .footer-contain{
        flex-direction: column;
    }
    /* footer style end here */
}